<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversor .pdf para .txt</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-btn {
            background-color: #28a745; /* Cor verde */
            border-color: #28a745; /* Cor verde */
            color: white; /* Cor do texto */
        }
        body {
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Conversor .pdf para .txt</h1>
        <form action="/convert" method="post" enctype="multipart/form-data" class="border p-4 rounded">
            <div class="form-group">
                <label for="file">Selecione o arquivo .pdf:</label>
                <input type="file" name="file" id="file" class="form-control-file">
            </div>
            <button type="submit" class="btn custom-btn btn-block">Converter</button>
        </form>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>